.title {
    color: #a6282f;
    font-size: 24px;
}

.navbar-brand {
    margin-left: 15px;
    padding: 5px 5px 5px 5px;
}

.vertical-center{
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(-50%, -50%);
}

.navbar-brand img {
    height: 100%;
    margin: 0;
}

#nav-title {
    color: #a6282f;
    font-size: 24px;
    line-height: 50px;
    margin: auto 5px auto 5px;
}

.input-group-addon img {
    height: 100%;
    margin: 0;
}

#input {
    margin: 5px 5px 5px 5px;
    border-radius: 5px;
    font-size: 16px;
}

a, a:hover{
    text-decoration: none;
}

.show-col {
    padding: 10px 10px;
}

.card {
    border: 1px solid #dddddd;
    border-radius: 10px;
    padding: 10px 10px 5px 10px;
    margin-bottom: 10px;
}

.card-title{
    border-bottom: 2px solid #aaaaaa;
    font-size: 24px;
}

.card-title a {
    font-size: 24px;
}

.card-title a:hover{
    color: #a6282f;
}

.title-time {
    font-size: 10px;
    color: #aaaaaa;
   
}

.news-list, a {
    border: 0px;
    font-size: 16px;
    color: #000000;
    width: 100%;
    overflow: hidden; 
    white-space: nowrap;
    text-overflow: ellipsis;
}

.news-list > a:hover {
    color: #000000;
}

.news-list:hover {
    background-color: #dddddd;
    border-radius: 5px;
}

.news-list:first-child {
    margin-top: 5px;
}

.sidebar {
    border-right: 1px dotted gray;
}

